@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: #e0e0e0;
    font-weight: bold;
    @apply text-neutral-500;
    @apply tracking-wider;
    font-family: 'Roboto', sans-serif;
}

input {
    @apply min-w-0;
}

input[type=number]::placeholder {
    color: #b9b9b9;
}

input[type=number]::placeholder {
    color: #3495ef;
}

*:focus {
    outline: none;
}